<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ivss_2">

    <uses-feature android:name="android.hardware.type.watch" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:label="IVSS_2"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name=".presentation.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.MotorLockActivity"
            android:exported="true"/>

        <service
            android:name=".presentation.WatchMessageService"
            android:exported="true"/>

        </application>
    </manifest>